@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Lobster);

$brand-primary: #22A7F0;
$brand-danger: #c0392b;
$jumbotron-bg: #ECF0F1;
$navbar-default-bg: #22A7F0;
$navbar-default-link-color: white;
$font-family-sans-serif: 'Lato', 'Lobster', 'Helvetica Neue', Helvetica, Arial, sans-serif;

@import 'bootstrap';

.pinty {
	font-family: Lobster;
	color: #e74c3c;
}

.center {
	text-align: center;
}

.navbar-brand {
	color: #e74c3c; 
	font-weight: normal;
	font-size: 2em;
	letter-spacing: 0.5px;
	font-family: Lobster;
 }

.pinit {
	max-width: 360px;
	padding: 5px 5px 5px 5px;
}

.bdr {
	border: 2px;
	border-color: white;
	border-radius: 10px;
}